@media (min-width: 1200px) {
  .page-container {
    padding: 1em !important;
  }
}

.page-container {
  padding: 0.5em 0px;
  padding-bottom: 0;
}

@media (min-width: 576px) {
  .filter-center {
    display: flex;
    justify-content: end !important;
    margin-bottom: 10px;
  }
}
.filter-center {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
