<ng-http-loader
  backgroundColor="#4b244a"
  spinner="sk-chasing-dots"></ng-http-loader>
<div class="page-container">
  <div class="btn-center mb-2">
    <app-create-employee
      (employeeCreated)="retrieveAllDepartments()"
      class="filter-center"></app-create-employee>
    <div class="filter-position mb-2">
      <app-search-bar
        class="pe-3"
        (onValueChange)="applyFilter($event)"></app-search-bar>
      <app-filter
        (OnValueChangeDepartment)="onDepartmentFilterValueChange($event)"
        (OnValueChangeTeam)="onTeamFilterValueChange($event)"
        (OnValueChangeProfession)="
          onProfessionFilterValueChange($event)
        "></app-filter>
    </div>
  </div>
  <app-table
    (sortchange)="handleSort($event)"
    [dataSource]="dataSource"
    [headArray]="columns"
    [ExpandedColumns]="displayedColumns"
    [paginatorData]="paginatorData"
    (pagechange)="onPaginateChange($event)"></app-table>
</div>
