<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Demander un congé</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="leaveRequest">
      <div class="mb-2">
        <label class="form-label">Ancien mot de passe</label>
        <div
          class="input-group mb-3"
          style="display: flex; justify-content: flex-end !important">
          <input
            [type]="visible ? 'password' : 'text'"
            class="form-control"
            formControlName="password" />

          <span (click)="password_visible()" class="input-group-text"
            ><mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'none' : 'contents'"
              >visibility
            </mat-icon>
            <mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'contents' : 'none'"
              >visibility_off
            </mat-icon></span
          >
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label">Nouveau mot de passe </label>
        <div
          class="input-group mb-3"
          style="display: flex; justify-content: flex-end !important">
          <input
            [type]="visible ? 'password' : 'text'"
            class="form-control"
            formControlName="password" />

          <span (click)="password_visible()" class="input-group-text"
            ><mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'none' : 'contents'"
              >visibility
            </mat-icon>
            <mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'contents' : 'none'"
              >visibility_off
            </mat-icon></span
          >
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label">Confirmer mot de passe </label>
        <div
          class="input-group mb-3"
          style="display: flex; justify-content: flex-end !important">
          <input
            [type]="visible ? 'password' : 'text'"
            class="form-control"
            formControlName="password" />

          <span (click)="password_visible()" class="input-group-text"
            ><mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'none' : 'contents'"
              >visibility
            </mat-icon>
            <mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'contents' : 'none'"
              >visibility_off
            </mat-icon></span
          >
        </div>
      </div>

      <div class="d-flex mt-4 mb-3">
        <button
          type="button"
          class="btn btn-default pull-right button-save btn-outline-primary"
          (click)="d('Cross click')"
          style="margin-right: 4px">
          Annuler
        </button>

        <button
          type="button"
          class="btn btn-primary button-save"
          (click)="onSubmit()"
          style="margin-left: 4px">
          ENREGISTRER
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-primary add" (click)="open(content)">
  MODIFIER LE MOT DE PASSE
</button>
