<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Ajouter un nouvel employé(e)</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addEmployee">
      <div class="d-flex">
        <div class="mb-2 names" style="margin-right: 8px">
          <label class="form-label">{{
            'AddEmployee.firstName' | translate
            }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="responsibleFirstName" />
          <span
            class="error"
            *ngIf="
            responsibleFirstName.hasError('required') &&
            responsibleFirstName.touched
          ">
          {{ 'ErrorMessages.requiredField' | translate }}</span
          >
          <span
            class="error"
            *ngIf="responsibleFirstName.hasError('minlength')"
          >{{ 'ErrorMessages.minLength3' | translate }}</span
          >
        </div>
        <div class="mb-2 names">
          <label class="form-label">{{
            'AddEmployee.lastName' | translate
            }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="responsibleLastName" />
          <span
            class="error"
            *ngIf="
            responsibleLastName.hasError('required') &&
            responsibleLastName.touched
          ">
          {{ 'ErrorMessages.requiredField' | translate }}</span
          >
          <span class="error" *ngIf="responsibleLastName.hasError('minlength')">{{
            'ErrorMessages.minLength3' | translate
            }}</span>
        </div>
      </div>
      <!--
      <div class="mb-2">
        <label class="form-label">{{
          'AddEmployee.firstName' | translate
          }}</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="responsibleFirstName" />
        <span
          class="error"
          *ngIf="
            responsibleFirstName.hasError('required') &&
            responsibleFirstName.touched
          ">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
        <span
          class="error"
          *ngIf="responsibleFirstName.hasError('minlength')"
        >{{ 'ErrorMessages.minLength3' | translate }}</span
        >
      </div>
      <div class="mb-2">
        <label class="form-label">{{
          'AddEmployee.lastName' | translate
          }}</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="responsibleLastName" />
        <span
          class="error"
          *ngIf="
            responsibleLastName.hasError('required') &&
            responsibleLastName.touched
          ">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
        <span class="error" *ngIf="responsibleLastName.hasError('minlength')">{{
          'ErrorMessages.minLength3' | translate
          }}</span>
      </div>
      -->
      <div class="mb-2">
        <label class="form-label">{{ 'AddEmployee.email' | translate }}</label>
        <input
          type="email"
          class="form-control form-control-sm"
          formControlName="email" />
        <span class="error" *ngIf="email.hasError('required') && email.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
        <span class="error" *ngIf="email.hasError('email')">{{
          'ErrorMessages.emailInvalid' | translate
          }}</span>
      </div>

      <div class="mb-2">
        <label class="form-label">{{
          'AddEmployee.password' | translate
          }}</label>
        <div
          class="input-group mb-2"
          style="display: flex; justify-content: flex-end !important">
          <input
            type="password"
            class="form-control form-control-sm"
            formControlName="password"
            [type]="visible ? 'password' : 'text'" />
          <span
            style="height: 34px"
            (click)="password_visible()"
            class="input-group-text"
            id="basic-addon2"
          ><mat-icon
            style="color: #0075d6"
            [style.display]="visible ? 'none' : 'contents'"
          >visibility
            </mat-icon>
            <mat-icon
              style="color: #0075d6"
              [style.display]="visible ? 'contents' : 'none'"
            >visibility_off
            </mat-icon></span
          >
        </div>

        <span
          class="error"
          *ngIf="password.hasError('required') && password.touched">
          Required field</span
        >
        <span class="error" *ngIf="password.hasError('pattern')"
        >{{ 'ErrorMessages.passwordMinLength' | translate }}
        </span>
        <span class="error" *ngIf="password.hasError('pattern')">{{
          'ErrorMessages.passwordInvalid' | translate
          }}</span>
      </div>
      <div class="mb-2">
        <label class="form-label">{{ 'AddEmployee.role' | translate }}</label>

        <select
          formControlName="role"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          (change)="getRole($event)">
          <option selected></option>
          <option *ngFor="let role of rolesItems" [value]="role.value">
            {{ role.name }}
          </option>
        </select>

        <span class="error" *ngIf="role.hasError('required') && role.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
      </div>

      <div class="mb-2">
        <!-- TODO ADD ENTERPRISE TO TRANSLATE -->
        <!-- {{ 'AddEmployee.enterprise' | translate }} -->
        <label class="form-label">Entreprise</label>

        <select
          formControlName="enterprise"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          (change)="getIdEnterprise($event)">
          <option
            *ngFor="let enterprise of enterprisesItems"
            [value]="enterprise.enterprise_id">
            {{ enterprise.enterprise_name }}
          </option>
        </select>
      </div>

      <div class="mb-2" *ngIf="enableDepartment && (departmentRole || teamRole)">
        <label class="form-label">{{
          'AddEmployee.department' | translate
          }}</label>

        <select
          formControlName="department"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          (change)="getIdDepartment($event)">
          <option
            *ngFor="let department of departmentsItems"
            [value]="department.department_id">
            {{ department.department_name }}
          </option>
        </select>
      </div>
      <div class="mb-2" *ngIf="enableTeam && teamRole">
        <label class="form-label">{{ 'AddEmployee.team' | translate }}</label>

        <select
          formControlName="team"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example">
          <option *ngFor="let team of teamsItems" [value]="team.team_id">
            {{ team.team_name }}
          </option>
        </select>
      </div>
      <div class="mb-2" *ngIf="teamRole">
        <label class="form-label">Poste</label>

        <select
          formControlName="position"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example">
          <option *ngFor="let position of positionItems" [value]="position.id">
            {{ position.position_name }}
          </option>
        </select>
      </div>
      <div class="d-flex mt-4">
        <button
          style="margin-right: 8px"
          type="button"
          class="btn btn-default btn-outline-primary pull-right button-save"
          (click)="d('Cross click')">
          Annuler
        </button>

        <button
          type="button"
          class="btn btn-primary button-save"
          (click)="createEmployee()">
          ENREGISTRER
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-primary add" (click)="open(content)">
  AJOUTER EMPLOYÉ
</button>
