.form-wrapper {
  padding: 0 24px;
}

.title {
  font-size: 37px;
  font-weight: 300;
  padding-top: 25px;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.forgot-password-link {
  font-size: 14px;
  text-align: left;
  color: #3d3d3d;
}

.create-account-btn {
  color: #f58a07;
}

.create-account-wrapper {
  text-align: center;
  font-size: smaller;
  font-size: 15px;
  margin-bottom: 20px;
}

.pin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin-box {
  width: 50px;
  height: 50px;
  border: 0px solid white;
  margin: 10px;
  text-align: center;
  font-size: 36px;
}

.mb-4 {
  color: #f58a07;
}

.forgot-pass {
  font-size: 15.5px;
  text-align: left;
  color: #3d3d3d;
  margin-left: 70px;
}

.re-forgot-pass {
  font-size: 15.5px;
  text-align: left;
  color: #3d3d3d;
  margin-left: 70px;
}

.underTitle {
  font-size: 16px;
  color: #001833;
  width: 100%;
  font-family: 'Lato';
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 20px;
}

.mx-auto {
  text-align: center;
  font-family: 'Lato';
  margin-bottom: auto;
  font-size: 15px;
}

#emailfield {
  display: block;
  width: 100%;
  margin-bottom: auto;
}

.btn {
  background: #0075d6;
  border-radius: 8px;
  display: block;

  width: 100%;
  padding: 9px;
}

.create {
  color: #f58a07;
}

.pin-form {
  display: block;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-left: auto;
  width: 100%;
}

.pin-layout {
  justify-content: center;
  margin-top: 60px;
}

.pin {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 3rem;
}
.form-label {
  font-size: 0.8em;
  font-weight: bolder !important;
}
