mat-toolbar {
  background-color: #0075d6; //#f7f9fc;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
}

.title {
  color: #f7f9fc; //#0075d6;
  font-size: 25px;
}

.select-lang {
  width: 50px;
  background-color: #0075d6; //#f7f9fc;
  color: #f7f9fc; // #3d3d3d;
}
.username {
  font-size: 15px;
  color: #f7f9fc; //#3d3d3d;
}

.form-select {
  // Change select icon color to white [stroke]
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
