<ng-http-loader
  backgroundColor="#4b244a"
  spinner="sk-chasing-dots"></ng-http-loader>
<div class="filter-position mb-2">
  <app-create-supplier
    (supplierCreated)="retrieveAllSuppliers()"
    class="filter-center"></app-create-supplier>
  <app-search-bar
    class="filter-center"
    (onValueChange)="applyFilter($event)"></app-search-bar>
</div>
<app-table
  (sortchange)="handleSort($event)"
  [dataSource]="dataSource"
  [headArray]="columns"
  [ExpandedColumns]="displayedColumns"
  [paginatorData]="paginatorData"
  (pagechange)="onPaginateChange($event)"></app-table>
