<div style="width: 400px; padding: 0">
  <div class="modal-header">
    <h5 class="modal-title">Modifier un fournisseur</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      mat-dialog-close="true"></button>
  </div>
  <hr class="my-2" />

  <div class="modal-body">
    <form [formGroup]="updateSupplier">
      <div class="mb-2">
        <label class="form-label">Enterprise</label>

        <select
          formControlName="enterprise"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          (change)="getIdEnterprise($event)">
          <!-- TODO DEFAULT SELECTED -->
          <option
            *ngFor="let enterprise of enterprisesItems"
            [value]="enterprise.enterprise_id"
            [selected]="enterprise.enterprise_id === idE">
            {{ enterprise.enterprise_name }}
          </option>
        </select>
      </div>

      <div class="mb-2">
        <label class="form-label">Nom</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="name" />
        <span class="error" *ngIf="name.hasError('required') && name.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
      </div>

      <div class="mb-2">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control form-control-sm"
          formControlName="email" />
        <span class="error" *ngIf="email.hasError('required') && email.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        ><span class="error" *ngIf="email.hasError('email')">{{
        'ErrorMessages.emailInvalid' | translate
        }}</span>
      </div>

      <div class="mb-2">
        <label class="form-label">Adresse</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="address" />
        <span
          class="error"
          *ngIf="address.hasError('required') && address.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
      </div>
      <div class="mb-2">
        <label class="form-label">Téléphone</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="phone" />
        <span class="error" *ngIf="phone.hasError('required') && phone.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
      </div>

      <div class="mb-2">
        <label class="form-label">Site web</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="website" />
        <span
          class="error"
          *ngIf="website.hasError('required') && website.touched">
          {{ 'ErrorMessages.requiredField' | translate }}</span
        >
      </div>

      <div class="d-flex mt-4">
        <button
          style="margin-right: 8px"
          type="button"
          class="btn btn-default btn-outline-primary pull-right button-save"
          mat-dialog-close="true">
          Annuler
        </button>

        <button
          (click)="update()"
          type="button"
          class="btn btn-primary button-save">
          ENREGISTRER
        </button>
      </div>
    </form>
  </div>
</div>
